.btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: transform $transition-300;

  &--primary {
    background-color: $color-cabaret;
    color: $color-white;
    padding: 10px;
    border-radius: 8px;

    &:hover {
      transform: translateY(-2px);
    }
  }

}