.data-choice {

  &__title {
    margin: 0;
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: space-between;
    margin: 10px 0 0 0;
    max-width: 400px;
  }

}