.consultation {

  margin: 50px 0 0 0;

  &__title {
    margin: 0 0 10px 0;
    font-size: 36px;
    line-height: 44px;
  }

  &__form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;

    &-wrapper {
      max-width: 600px;
    }
  }

  &__submit {
    margin: 24px 0 0 0;
    width: 100%;
    background-color: $color-cabaret;
  }

  &__error {
    font-size: 16px;
    font-weight: 600;
    color: red;
  }
}