.navigation {

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  &__link {
    color: $color-white;
    display: flex;
    align-items: center;
    gap: 10px;

    &--active {
      color: $color-white;
      font-weight: 700;
    }
  }
}