.btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;

  &--primary {
    background-color: $color-cabaret;
    color: $color-white;
    padding: 10px;
    transition: background-color 0.3s ease;


    &:hover {
      background-color: #D2596A;
    }

    &:active {
      transform: translateY(1px);
    }

    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }
  }
}