.form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;


  &__label {
    font-size: 16px;
    color: $color-night-rider;
    user-select: none;
  }

  & input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.3s ease;

    &:focus {
      outline: none;
      border-color: $color-cabaret;
      box-shadow: 0 0 0 2px rgba(217, 91, 109, 0.2);
    }

    &::placeholder {
      color: #999;
    }

  }
}