.header {
  background-color: $color-cabaret;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__link,
  &__divider {
    color: $color-white;
  }

  &__link--active {
    font-weight: 700;
    color: $color-white;
  }


  &__account-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

}